
body {
    /*font: 100% Verdana, Arial, Helvetica, sans-serif; */
    /*background: #666666; */
    margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 0;
}

.code {
    background: #EEEEEE;
}

/* controlling the look of the left-hand menu */

.menu {
    float: left; 
    line-height: 120%; 
    padding-top: 1em; 
    width: 10%; 
}

.menu ul {
    list-style-type: none;
}

.menu a {
   font-weight: bold;
   text-decoration: none;
}

a, h1, h2, h3 {
    color:#006633;
}

.content a {
    font-weight: bold;
    text-decoration: none;
}

.content a:hover {
    color:#ffCC33;
}

a:hover {
    color:#ffCC33;
}

a:visited {
    /* color:grey; */
}

h1 {
    margin: 0;
    padding: 10px 0; 
}

div.container {
    width: 100%;
    margin: 0px;
    line-height: 100%;
}

div.header, div.footer {
    font: 100% sans-serif;
    padding: 0 10px 0 20px; 
    color: #ffCC33;
    background: #006633; 
}

div.header h1 {
    color: #ffCC33;
}

.footer a {
    color:#ffCC33;
}

div.content {
    margin-left: 180px;
    border-left: 2px solid #006633;
    padding: 1em;
}

